<div class="container mt-3">
    <h2>Daftar Contact</h2>
    <a href="/contact/add" class="btn btn-primary">Tambah Contact</a>
    <% if (msg.length !== 0 ) { %>
        <div class="alert alert-success" role="alert">
            <%= msg %> 
          </div>
    <% } %>
    <div class="row mt-3">
        <div class="col-md-6">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Nama</th>
                    <th scope="col">No HP</th>
                    <th scope="col">Details</th>
                </tr>
                </thead>
                <% if (contacts.length === 0) { %>
                    <tr>
                        <th colspan="4">
                            <div class="alert alert-danger" role="alert">
                                Data Contact masih kossong!
                            </div>
                        </th>
                    </tr>
                <% } %>
                <% contacts.forEach((contact, i )=> { %>
                    <tbody>
                    <tr>
                        <th scope="row"><%= i + 1  %> </th>
                        <td><%= contact.nama  %> </td>
                        <td><%= contact.nohp %> </td>
                        <td><a href="/contact/<%= contact.nama %>" type="button" class="badge badge-pill btn btn-info">details</a></td>
                    </tr>
                    </tbody>
                <% }) %>
            </table>
        </div>
    </div>
</div> 


